## 1Ô∏è‚É£ **Basic Charts**
- üìà **Line Chart** ‚Äì Trends over time  
- üìä **Bar Chart** ‚Äì Categorical comparisons  
- üìâ **Histogram** ‚Äì Distribution of a single variable  
- ü•ß **Pie Chart** ‚Äì Proportion of categories  
- üîµ **Scatter Plot** ‚Äì Relationship between two variables

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("AAPL.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-21,130.300003,132.410004,129.210007,132.300003,130.767593,79663300
1,2021-06-22,132.130005,134.080002,131.619995,133.979996,132.428116,74783600
2,2021-06-23,133.770004,134.320007,133.229996,133.699997,132.151382,60214200
3,2021-06-24,134.449997,134.639999,132.929993,133.410004,131.864746,68711000
4,2021-06-25,133.460007,133.889999,132.809998,133.110001,131.568207,70783700

In [6]:
# columns
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [7]:
df.shape

(503, 7)

In [8]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
498,2023-06-13,182.800003,184.149994,182.440002,183.309998,183.309998,54929100
499,2023-06-14,183.369995,184.389999,182.020004,183.949997,183.949997,57462900
500,2023-06-15,183.960007,186.520004,183.779999,186.009995,186.009995,65433200
501,2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600
502,2023-06-20,184.410004,186.100006,184.410004,185.009995,185.009995,49753200