# In class practice set: Sales Analysis for Retail Company

A retail company that wants to analyze their sales data to gain insights into their product performance, revenue generation, and customer behavior. The company has collected a dataset containing information about sales transactions, including the date, product details, quantity sold, price, and revenue.

The objective of this analysis is to provide meaningful insights and actionable recommendations to improve the company's sales performance, optimize pricing strategies, and identify popular products and customer preferences.  
 Here is a description of the columns in the dataset:  
- **`Date`**: The date on which the sales transaction occurred.
- **`Product`**: The product identifier or name.
- **`Quantity`**: The quantity of the product sold in each transaction.
- **`Price`**: The price of the product.

In [2]:
import pandas as pd

# Sample dataset of sales transactions
transactions = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'Product': ['A', 'B', 'C', 'A', 'B'],
    'Quantity': [10, 5, 8, 12, 6],
    'Price': [10.99, 5.99, 7.99, 11.99, 6.99]})

transactions

         Date Product  Quantity  Price
0  2022-01-01       A        10  10.99
1  2022-01-02       B         5   5.99
2  2022-01-03       C         8   7.99
3  2022-01-04       A        12  11.99
4  2022-01-05       B         6   6.99

In [2]:
# Add more data to the dataset
new_data = pd.DataFrame({
    'Date': ['2022-01-06', '2022-01-07'],
    'Product': ['A', 'C'],
    'Quantity': [15, 9],
    'Price': [9.99, 12.99]
})
new_data

         Date Product  Quantity  Price
0  2022-01-06       A        15   9.99
1  2022-01-07       C         9  12.99

In [3]:
# Append the new data to the dataset
transactions = transactions.append(new_data, ignore_index=True)
transactions

C:\Users\Shubham Soni\AppData\Local\Temp\ipykernel_10504\3120837484.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(new_data, ignore_index=True)

         Date Product  Quantity  Price
0  2022-01-01       A        10  10.99
1  2022-01-02       B         5   5.99
2  2022-01-03       C         8   7.99
3  2022-01-04       A        12  11.99
4  2022-01-05       B         6   6.99
5  2022-01-06       A        15   9.99
6  2022-01-07       C         9  12.99

### Q1. Calculate the totatl **`Revenue`**  generated from each sales transaction (calculated as Quantity * Price).

<details>
    <summary> Solution </summary>
    
```python
    
transactions['Revenue'] = transactions['Quantity']* transactions['Price']
transactions
    
```
    
</details>

### Q2. What is the total quantity sold?

<details>
    <summary> Solution </summary>

```python

total_quantity_sold = transactions['Quantity'].sum()
print("Total Quantity Sold:", total_quantity_sold)

```
    
</details>

### Q3. What is the average price of the products?

<details>
    <summary> Solution </summary>

```python

average_price = transactions['Price'].mean()
print("Average Price:", average_price)

```
    
</details>

### Q4. What is the highest quantity sold for a single product?

<details>
    <summary> Solution </summary>

```python

max_quantity = transactions['Quantity'].max()
print("Highest Quantity Sold:", max_quantity)

```

</details>

### Q5. How many unique products are in the dataset?

<details>
    <summary> Solution </summary>

```python

unique_products = transactions['Product'].nunique()
print("Unique Products:", unique_products)

```
    
</details>

### Q6. What is the total sales revenue?

<details>
    <summary> Solution </summary>

```python

transactions['Revenue'] = transactions['Quantity'] * transactions['Price']
total_revenue = transactions['Revenue'].sum()
print("Total Revenue:", total_revenue)

```
    
</details>

### Q7. How many sales transactions occurred on each date?

<details>
    <summary> Solution </summary>

```python

transaction_count = transactions['Date'].value_counts()
print("Sales Transactions by Date:")
print(transaction_count)

```
    
</details>

### Q8. What is the average quantity sold per product?

<details>
    <summary> Solution </summary>

```python

average_quantity_per_product = transactions.groupby('Product')['Quantity'].mean()
print("Average Quantity Sold per Product:")
print(average_quantity_per_product)
```
    
</details>

### Q9. What is the total revenue generated per product?

<details>
    <summary> Solution </summary>

```python

revenue_per_product = transactions.groupby('Product')['Revenue'].sum()
print("Total Revenue Generated per Product:")
print(revenue_per_product)
```
    
</details>

### Q10. What is the highest price among the products?

<details>
    <summary> Solution </summary>

```python

max_price = transactions['Price'].max()
print("Highest Price:", max_price)
```
    
</details>

### Q11. What is the total quantity sold for each product?

<details>
    <summary> Solution </summary>

```python

total_quantity_per_product = transactions.groupby('Product')['Quantity'].sum()
print("Total Quantity Sold per Product:")
print(total_quantity_per_product)
```
    
</details>