# **Business Case Study: Analyzing Apple Stock Performance**
![Image](https://www.cleverfiles.com/howto/wp-content/uploads/2018/04/apple-stock-price.jpg)

This case study aims to analyze the performance of **Apple stock** over a specific period of time. By examining the historical data of Apple stock prices and trading volume, we can gain insights into its **`trends, volatility`**, and **`overall market performance`**. The analysis will include **handling dates, timezones, and Unix timestamps**, as well as conducting **rolling operations** and examining **shifting** and **lagging patterns**.

### Dataset
The dataset used for this analysis contains the following columns:

- **`Date`**: The date of the trading day.
- **`Open`**: The opening price of Apple stock at the beginning of the trading day.
- **`High`**: The highest price reached by Apple stock during the trading day.
- **`Low`**: The lowest price reached by Apple stock during the trading day.
- **`Close`**: The closing price of Apple stock at the end of the trading day.
- **`Adj Close`**: The adjusted closing price of Apple stock, accounting for corporate actions.
- **`Volume`**: The trading volume, representing the total number of shares traded during the trading day.

In [2]:
import pandas as pd

In [3]:
apple = pd.read_csv('dataset/AAPL.csv',  parse_dates = True)
apple['Date'] = pd.to_datetime(apple['Date'])
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-21,130.300003,132.410004,129.210007,132.300003,130.767593,79663300
1,2021-06-22,132.130005,134.080002,131.619995,133.979996,132.428116,74783600
2,2021-06-23,133.770004,134.320007,133.229996,133.699997,132.151382,60214200
3,2021-06-24,134.449997,134.639999,132.929993,133.410004,131.864746,68711000
4,2021-06-25,133.460007,133.889999,132.809998,133.110001,131.568207,70783700

In [4]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       503 non-null    datetime64[ns]
 1   Open       503 non-null    float64
 2   High       503 non-null    float64
 3   Low        503 non-null    float64
 4   Close      503 non-null    float64
 5   Adj Close  503 non-null    float64
 6   Volume     503 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 27.6 KB

## Q1. What was the highest closing price for Apple stock during the given period?

<details>
    <summary> Solution </summary>

```python
    
    print("The highest closing price in given period : ",apple['Close'].max())

```
</details>

## Q2. On which date did Apple stock have the highest trading volume?

<details>
    <summary> Solution </summary>

```python
    
print("Apple stock have the highest trading volume : ",apple[apple['Volume'].max() == apple['Volume']].Date.iloc[0].date())
    
```
</details>

## Q3. What was the average closing price of Apple stock during the month of July 2021 and 2022?

<details>
    <summary> Solution - 1 </summary>

```python
    
july2021 = apple[(apple['Date'].dt.month == 7) & (apple['Date'].dt.year == 2021)]['Close'].mean()
print("Average closing price in July 2021:", round(july2021,2))
    
```
</details>

<details>
    <summary> Solution - 2 </summary>
    
```python
    
    july2022 = apple[(apple['Date'].dt.month == 7) & (apple['Date'].dt.year == 2022)]['Close'].mean()
    print("Average closing price in July 2021:", round(july2022,2))
    
```
    
</details>

## Q4. How many times did the closing price exceed 140 during the given period?

The closing price exceed 140 :  444

<details>
    <summary> Solution </summary>
    
```python
    
    print("The closing price exceed 140 : ",apple[apple['Close'] > 140].shape[0])
    
```
    
</details>

## Q5. What was the overall percentage change in the closing price from the first day to the last day of the dataset?

<details>
    <summary> Solution </summary>
 
```python
    
    change_per = ((apple['Close'].iloc[-1] - apple['Close'].iloc[0]) / apple['Close'].iloc[-1]) * 100
    print("The overall percentage change in the closing price from the first day to the last day of the dataset : ",change_per)
    
```
    
</details>

## Q6. Which date had the largest difference between the highest and lowest prices?

<details>
    <summary> Solution </summary>
    
```python
    
date = apple[(apple['High'] - apple['Low'])==(apple['High'] - apple['Low']).max()].iloc[0,0]
print("Date with the largest price difference:", date)

```
</details>

## Q7. How many days did the closing price decrease compared to the previous day?

In [ ]:
closing_price_decrease_days = data[data['Close'] < data['Close'].shift(1)]['Date'].count()
print("Number of days with a decrease in closing price:", closing_price_decrease_days)

In [68]:
# apple[apple['Close'] < apple['Close'].shift(1)]['Date'].count()
apple[apple['Close'] < apple['Close'].shift(1)]['Date'].shape[0]

240

## Q8. Calculate the 7-day rolling average of the closing price.

In [73]:
apple['Close'].rolling(7).mean()

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
498    180.748574
499    181.372859
500    182.344286
501    183.358571
502    183.992855
Name: Close, Length: 503, dtype: float64

## Q9. What was the maximum volume of shares traded on a single day during the given period?

In [75]:
apple['Volume'].max()

195432700

## Q10. Calculate the cumulative sum of the trading volume for each month.

In [85]:
cumulative_volume = apple.resample('M',on = 'Date')['Volume'].cumsum()

In [90]:
# apple['Month'] = apple['Date'].dt.month
# cumulative_volume = apple.groupby('Month')['Volume'].cumsum()
# print("Cumulative sum of trading volume for each month:")
# # cumulative_volume[['Date', 'Volume', 'Month', 'CumulativeVolume']]
# apple

In [82]:
apple['Month'] = apple['Date'].dt.month
apple.groupby('Month')['Volume'].cumsum()

0        79663300
1       154446900
2       214661100
3       283372100
4       354155800
          ...
498    2881061200
499    2938524100
500    3003957300
501    3105192900
502    3154946100
Name: Volume, Length: 503, dtype: int64

## Q11. How many times did the closing price increase for three consecutive days?

In [ ]:
increase_3days = data[(data['Close'] > data['Close'].shift(1)) & (data['Close'].shift(1) > data['Close'].shift(2))]['Date'].count()

In [92]:
apple[(apple['Close'] > apple['Close'].shift(1)) & (apple['Close'].shift(1) > apple['Close'].shift(2))]['Date'].count()

136

## Q12. What was the highest closing price among the days with above-average trading volume and which date?

In [100]:
apple[apple[apple['Volume']> apple['Volume'].mean()]['Close'].max() == apple['Close']]

,Date,Open,High,Low,Close,Adj Close,Volume,Month
501,2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600,6

## Q13. Calculate the 30-day rolling standard deviation of the closing price.

In [103]:
apple['Close'].rolling(window = 30).std()

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
498    4.501286
499    4.599591
500    4.704241
501    4.526658
502    4.713061
Name: Close, Length: 503, dtype: float64

## Q14. How many days did the opening price exceed the closing price?

In [107]:
apple[apple['Open'] > apple['Close']]['Close'].count()

224

## Q15. Calculate the median closing price for each month.

In [111]:
apple.resample('M',on = 'Date').median()[['Close']]

                 Close
Date
2021-06-30  133.839996
2021-07-31  145.639999
2021-08-31  147.864998
2021-09-30  148.119995
2021-10-31  144.839996
2021-11-30  151.279999
2021-12-31  174.820000
2022-01-31  172.084999
2022-02-28  171.660004
2022-03-31  163.979996
2022-04-30  166.824997
2022-05-31  147.110001
2022-06-30  138.270004
2022-07-31  149.319999
2022-08-31  167.229996
2022-09-30  153.839996
2022-10-31  143.860001
2022-11-30  148.029999
2022-12-31  136.500000
2023-01-31  135.240005
2023-02-28  151.009995
2023-03-31  155.000000
2023-04-30  165.229996
2023-05-31  172.840003
2023-06-30  180.960007

## Q16. What was the average percentage change in the closing price from one day to the next?

In [117]:
average_percent_change = ((((apple['Close'] - apple['Close'].shift(1)).abs())/apple['Close']) * 100).mean()

1.4019172398664024

## Q17. Identify the top 5 days with the largest percentage increase in the closing price

In [125]:
top5_day_value = ((((apple['Close'] - apple['Close'].shift(1)).abs())/apple['Close']) * 100).sort_values(ascending=False).head().iloc[-1]

In [126]:
top5_day_value

5.979262591571944

In [128]:
apple["Percentage_change"] = ((((apple['Close'] - apple['Close'].shift(1)).abs())/apple['Close']) * 100)
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Month,Percentage_change
0,2021-06-21,130.300003,132.410004,129.210007,132.300003,130.767593,79663300,6,NaN
1,2021-06-22,132.130005,134.080002,131.619995,133.979996,132.428116,74783600,6,1.253913
2,2021-06-23,133.770004,134.320007,133.229996,133.699997,132.151382,60214200,6,0.209423
3,2021-06-24,134.449997,134.639999,132.929993,133.410004,131.864746,68711000,6,0.217370
4,2021-06-25,133.460007,133.889999,132.809998,133.110001,131.568207,70783700,6,0.225380

In [130]:
apple[apple["Percentage_change"]  >= top5_day_value]

,Date,Open,High,Low,Close,Adj Close,Volume,Month,Percentage_change
154,2022-01-28,165.710007,170.350006,162.800003,170.330002,168.855423,179935700,1,6.522633
230,2022-05-18,146.850006,147.360001,139.899994,140.820007,139.984146,109742900,5,5.979263
310,2022-09-13,159.899994,160.539993,153.369995,153.839996,153.139252,122656600,9,6.233748
343,2022-10-28,148.199997,157.500000,147.820007,155.740005,155.030609,164762400,10,7.024529
352,2022-11-10,141.240005,146.869995,139.500000,146.869995,146.443527,118854000,11,8.170491

## Q18. How many times did the closing price reach a new all-time high during the given period?

In [136]:
(apple['Close'] == apple['Close'].cummax()).sum()

32

## Q19. Calculate the difference between the highest closing price and the lowest closing price for each month.

In [144]:
month_max_price = apple.resample('M', on = 'Date').max()['Close']
# month_max_price

In [145]:
month_min_price = apple.resample('M', on = 'Date').min()['Close']

In [146]:
month_max_price - month_min_price

Date
2021-06-30     4.660004
2021-07-31    11.879990
2021-08-31     7.599991
2021-09-30    15.190002
2021-10-31    13.430008
2021-11-30    17.430008
2021-12-31    18.490006
2022-01-31    22.789994
2022-02-28    16.209992
2022-03-31    28.340012
2022-04-30    21.869995
2022-05-31    28.669998
2022-06-30    21.150009
2022-07-31    23.580002
2022-08-31    17.330002
2022-09-30    25.229996
2022-10-31    17.400009
2022-11-30    16.419998
2022-12-31    22.269997
2023-01-31    20.909996
2023-02-28     9.900009
2023-03-31    19.589996
2023-04-30     9.579987
2023-05-31    11.510010
2023-06-30     8.189988
Freq: M, Name: Close, dtype: float64

## Q20. What was the total trading volume for each quarter of the given period?

In [148]:
apple['Quarter'] = apple['Date'].dt.quarter
total_volume_per_quarter = apple.groupby('Quarter')['Volume'].sum()

total_volume_per_quarter

Quarter
1    10187880400
2     9488647200
3    10220500800
4    10969593500
Name: Volume, dtype: int64